[submodule "pelican-twitchy"]
	path = pelican-twitchy
	url = git://github.com/ingwinlu/pelican-twitchy.git
[submodule "pelican-bootstrapify"]
	path = pelican-bootstrapify
	url = git://github.com/ingwinlu/pelican-bootstrapify.git
[submodule "pelican-toc"]
	path = pelican-toc
	url = git://github.com/ingwinlu/pelican-toc.git
[submodule "pelican_plugin-render_math"]
	path = pelican_plugin-render_math
	url = git://github.com/barrysteyn/pelican_plugin-render_math.git
[submodule "pelican-sitemap"]
	path = pelican-sitemap
	url = git://github.com/ingwinlu/pelican-sitemap.git
